.input-div{
  background: #202c33;
}

form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #202c33;
  gap: 10px;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

.input{
  flex: 1;
  padding: 10px;
  background: #2a3942;
  border: none;
  border-radius: 10px;
  color: white;
}



.sendButton{
  color: white;
  align-items: center;
  cursor: pointer;
  height: 100%;
  /* border: 2px solid red; */
}

.sendIcon{
  height: 100%;
}

input:focus{
  outline: none;
}

@media screen and (max-width : 768px){
  form{
    width: 100%;
  }
}
  
