*{
  margin: 0;
}

.form {
    display: flex;
    border:1px solid white;
  }
  
  .formDiv{
    background:rgb(4, 51, 81);
  }
  
  .input {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0 3%;
    width: 92%;
    font-size: 1rem;
    color: white;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  button{
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
  }
  
  .sendButton {
    display: inline-block;
    border: none;
  }