*{
  margin: 0;
}

.form {
    display: flex;
  }
  
  .formDiv{
    background:rgb(4, 51, 81);
  }
  
  .input {
    border:1px solid rgba(255, 255, 255, 0.142);
    border: none;
    border-radius: 5px;
    padding: 0 3%;
    width: 92%;
    font-size: 1rem;
    margin: 0 5px;
    margin-bottom: 5px;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  button{
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }
  
  .sendButton {
    display: inline-block;
    border: none;
  }