.messageBox {
  display: inline-block;
  max-width: 80%;
  height:auto;
  padding: 0 10px;
  margin: 5px;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
}

.sentText-sender {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #53bdeb;
}

.justifyStart {
  justify-content: flex-start;
  margin-left: 1rem;
}

.justifyEnd {
  justify-content: flex-end;
  margin-right: 1rem;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.sentBg {
  background: #005c4b;
  border-radius:20px 20px 0px 20px;
}

.receiveBg {
  background: #202c33;
  border-radius:0px 20px 20px 20px;
  color: white;
}
