.messageBox {
  background: #F3F3F3;
  color: white;
  display: inline-block;
  max-width: 80%;
  height:auto;
  padding: 0 13px;
  margin: 5px;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  padding: 5px;
  float: left;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.sentBg {
  background: #050706;
  /* top-left top-right bottom-right bottom-left */
  border-radius:20px 20px 0px 20px;
}

.receiveBg {
  border-radius:0px 20px 20px 20px;
  background: white;
}
