.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1D;
  }
  
  body{
    background-color: #1A1A1D;
  }
  
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    width: 35%;
  }
  
  @media (min-width: 320px) and (max-width: 800px) {
    .outerContainer {
      justify-content: none;
      width: 100%;
      align-items: none;
    }
    
    .container {
      height: 93vh;
    width: 100%;
    }
  }
  